<!-- USER PAGE -->
{% extends "template.html" %}
<head>
{% block head %}
<!-- <link rel="stylesheet" href="../static/css/<YOUR STYLESHEET HERE>"> -->
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/profile.css">
    </head>
{% endblock %}

{% block content %}
</head>
<body>
    {% if username == None %}
    <header>
        <h1>Basic user info</h1>
    </header>
    {% else %}
        <h1></h1>
    {% endif %}
    <main>
        <div class="profile-layout">
            <div class="profile-info">
                <h2>{{username}}</h2>
                <div class="profile-bio">Contact info</div>
            </div>
            <div class="profile-listings"> <!-- TODO implement pull from server page and scrollbar css-->
                <h4>Listings</h4>
                {%for post %}
                {%endfor%}
            </div>
        </div>
        
    </main>
    <footer>

    </footer>
{% endblock %}