<div class="listing-card">
    <div class="listing-card-image-container">
        <img class="listing-card-image" src="{{ url_for('static', filename = 'user_images/' + listing.album.photos[0].photo_url) }}">
    </div>
    <div class="listing-card-row">
        <div class="listing-card-tp-container">
            <div class="listing-card-title">{{ listing.title }}</div>
            <div class="listing-card-price">${{ listing.price }}</div>
        </div>
        <div class="listing-card-likes-container">♡</div>
    </div>
    <div class="listing-card-description">{{ listing.description[:80] }}{% if listing.description|length > 80 %}...{% endif %}</div>
</div>